.nen {
   background-image: url('../image/bg/bg-logo.jpg');
}
.font-chu{
	font-family: "Times New Roman", Times, serif;
	color:#CC9933;
	font-weight: bold;
	font-size:35px;
}
.Tieude
{
	font-family: "Times New Roman", Times, serif;
	color:#000000;
	font-weight: bold;
	font-size:25px;
}