.nen {
   /*background-image: url('../image/bg/bg-logo.jpg');*/
   background-color: white;
}
.font-chu{
	font-family: "Times New Roman", Times, serif;
	color:#fca600;
	font-weight: bold;
	font-size:30px;
}